html {
	min-width: 330px;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 100px;
}
h2 {
	margin-top: 40px;
}
p {
	margin: 0 auto;
}
table tr:nth-child(1) {
	text-align: left;
}
table tr:nth-child(n+1) {
	font-family: monospace;	
}
code {
	background-color: black;
	color: white;
	font-family: monospace;	
	padding: 2px;
	letter-spacing: 1px;
}
pre:nth-of-type(n+2) {
	background-color: black;
	color: white;
	padding: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
